<!DOCTYPE html>
<html>
<head>
    <title>Twitter Clone</title>
</head>
<body>
    <header>
        <h1>Twitter Clone</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'tweet_create' %}">Create Tweet</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Tweets</h1>
        <a href="{% url 'tweet_create' %}">Create new tweet</a>
        <ul>
            {% for tweet in tweets %}
            <li>
                <a href="{% url 'tweet_detail' tweet.id %}">{{ tweet.author.username }}</a>: {{ tweet.content }}
                <br>
                {{ tweet.created_at }}
                <a href="{% url 'like_tweet' tweet.id %}">
                    {% if request.user in tweet.likes.all %}
                    Unlike
                    {% else %}
                    Like
                    {% endif %}
                </a> ({{ tweet.likes.count }})
            </li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>
